<div id="header" [ngClass]="classes.header" [ngStyle]="headerColor">
  <button class="btn btn-outline d-block d-md-none" [ngClass]="classes.toggle" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  <a id="title" routerLink="/" style="cursor: pointer">
    <div class="logo">
      <img [alt]="title" src="assets/Logo.png"/>
    </div>
  </a>
</div>

<div class="container-fluid">
  <div class="row h-100">
    <div id="sidebar" class="d-none d-md-block h-100" [ngClass]="classes.sidebar"
         [@openClose]="isOpen ? 'open' : 'closed'" [@openCloseRight]="(menuRight) ? ((isOpen) ? 'open' : 'closed'): '' ">

      <div id="menu" class="list-group" *ngIf="menuMode == 'normal'" [ngClass]="classes.menu">
        <a class="list-group-item list-group-item-action" [routerLink]="[item.path]" *ngFor="let item of getMenuItems()">
          <i class="fas fa-{{item.icon}}"></i> {{item.label}}
        </a>
      </div>

      <div id="menu-compact" class="btn-group-vertical" *ngIf="menuMode == 'compact'" [ngClass]="classes.menu">
        <button class="btn btn-secondary" [routerLink]="[item.path]" *ngFor="let item of getMenuItems()">
          <i class="fas fa-{{item.icon}}" style="font-size: larger"></i>
        </button>
      </div>

    </div>
    <div id="content" class="col" [ngClass]="classes.content">
      <p style="color: darkgray;">Logged in as {{userService.currentUser.name}} ({{userService.getUserRole()|async}})</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

